@import url('./ui/montserrat.css');
@import url('./ui/oswald.css');
@import url('./ui/dogica.css');
body {
    margin: 0;
    padding: 0;
    background-color: #3B3B3B;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Montserrat-Regular', sans-serif;
    text-decoration: none;
    color: honeydew;
}

p {
    font-family: 'Montserrat-Regular', sans-serif;
    text-decoration: none;
    color: honeydew;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #454545;
    border-radius: 1em;
}